.head{
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-weight: 100px;
    font-size: 30px;
    line-height: 80px;
    padding-left: 50px;
}
body{
    color: white;
    background-color: black;
    margin-left: 25px;
}
.image, .detail{
    border: 1px solid white;
    border-radius: 25px;
    width: 330px;
    height: 250px;
    position: relative;
    top:25px;
}
.detail{
    margin-top: 25px;
    border: 1px solid white;
    border-radius: 25px;
    width: 330px;
    height: 250px;
}
.name{
    padding: 40px;
    margin-left: 70px;
    }
img{
    border: 1px solid white;
    border-radius: 150px;
    position: relative;
    top: 30px;
    left:80px;
    width: 150px;
    height: 150px;
}
.links{
    border: 1px solid white;
    border-radius: 25px;
    width: 330px;
    height: 200px;
    margin-top: 50px;
}
.icon, h4{
   margin-left: 25px;
   color: white;
   font-size: 20px !important;
}
.full{
    display: flex;
    flex-flow: wrap;
}
.right{
width:500px;
height:500px;
border:1px solid white;
}
.task{
padding:10px 100px;
}
table,th,td{
border:1px solid white;
}